{
  "canonicalName": "Android Publisher",
  "discoveryVersion": "v1",
  "schemas": {
    "GeneratedApksListResponse": {
      "id": "GeneratedApksListResponse",
      "description": "Response to list generated APKs.",
      "type": "object",
      "properties": {
        "generatedApks": {
          "type": "array",
          "items": {
            "$ref": "GeneratedApksPerSigningKey"
          },
          "description": "All generated APKs, grouped by the APK signing key."
        }
      }
    },
    "BatchGetOneTimeProductOffersRequest": {
      "description": "Request message for the BatchGetOneTimeProductOffers endpoint.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GetOneTimeProductOfferRequest"
          },
          "type": "array",
          "description": "Required. A list of get requests of up to 100 elements. All requests must retrieve different offers."
        }
      },
      "id": "BatchGetOneTimeProductOffersRequest"
    },
    "ModuleMetadata": {
      "id": "ModuleMetadata",
      "type": "object",
      "description": "Metadata of a module.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Module name."
        },
        "deliveryType": {
          "description": "Indicates the delivery type (e.g. on-demand) of the module.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ]
        },
        "dependencies": {
          "description": "Names of the modules that this module directly depends on. Each module implicitly depends on the base module.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targeting": {
          "description": "The targeting that makes a conditional module installed. Relevant only for Split APKs.",
          "$ref": "ModuleTargeting"
        },
        "moduleType": {
          "enumDescriptions": [
            "Unknown feature module.",
            "Regular feature module."
          ],
          "enum": [
            "UNKNOWN_MODULE_TYPE",
            "FEATURE_MODULE"
          ],
          "type": "string",
          "description": "Indicates the type of this feature module."
        }
      }
    },
    "InternalAppSharingArtifact": {
      "properties": {
        "certificateFingerprint": {
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact.",
          "type": "string"
        },
        "sha256": {
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InternalAppSharingArtifact",
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing."
    },
    "UpdateSubscriptionRequest": {
      "description": "Request message for UpdateSubscription.",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "Required. The subscription to update.",
          "$ref": "Subscription"
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The list of fields to be updated."
        },
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Required. The version of the available regions being used for the subscription."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the subscription with the given package_name and product_id doesn't exist, the subscription will be created. If a new subscription is created, update_mask is ignored."
        }
      },
      "id": "UpdateSubscriptionRequest"
    },
    "BasePlan": {
      "properties": {
        "otherRegionsConfig": {
          "$ref": "OtherRegionsBasePlanConfig",
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the BasePlan will not be automatically available any new locations Play may launch in the future."
        },
        "offerTags": {
          "items": {
            "$ref": "OfferTag"
          },
          "type": "array",
          "description": "List of up to 20 custom tags specified for this base plan, and returned to the app through the billing library. Subscription offers for this base plan will also receive these offer tags in the billing library."
        },
        "basePlanId": {
          "description": "Required. Immutable. The unique identifier of this base plan. Must be unique within the subscription, and conform with RFC-1034. That is, this ID can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 63 characters.",
          "type": "string"
        },
        "installmentsBasePlanType": {
          "$ref": "InstallmentsBasePlanType",
          "description": "Set for installments base plans where a user is committed to a specified number of payments."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The base plan is currently in a draft state, and hasn't been activated. It can be safely deleted at this point.",
            "The base plan is active and available for new subscribers.",
            "The base plan is inactive and only available for existing subscribers."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the base plan, i.e. whether it's active. Draft and inactive base plans can be activated or deleted. Active base plans can be made inactive. Inactive base plans can be canceled. This field cannot be changed by updating the resource. Use the dedicated endpoints instead."
        },
        "autoRenewingBasePlanType": {
          "$ref": "AutoRenewingBasePlanType",
          "description": "Set when the base plan automatically renews at a regular interval."
        },
        "regionalConfigs": {
          "description": "Region-specific information for this base plan.",
          "items": {
            "$ref": "RegionalBasePlanConfig"
          },
          "type": "array"
        },
        "prepaidBasePlanType": {
          "$ref": "PrepaidBasePlanType",
          "description": "Set when the base plan does not automatically renew at the end of the billing period."
        }
      },
      "type": "object",
      "description": "A single base plan for a subscription.",
      "id": "BasePlan"
    },
    "TargetingRuleScope": {
      "type": "object",
      "id": "TargetingRuleScope",
      "description": "Defines the scope of subscriptions which a targeting rule can match to target offers to users based on past or current entitlement.",
      "properties": {
        "anySubscriptionInApp": {
          "description": "The scope of the current targeting rule is any subscription in the parent app.",
          "$ref": "TargetingRuleScopeAnySubscriptionInApp"
        },
        "specificSubscriptionInApp": {
          "type": "string",
          "description": "The scope of the current targeting rule is the subscription with the specified subscription ID. Must be a subscription within the same parent app."
        },
        "thisSubscription": {
          "description": "The scope of the current targeting rule is the subscription in which this offer is defined.",
          "$ref": "TargetingRuleScopeThisSubscription"
        }
      }
    },
    "CreateAppStoreHostedAppResponse": {
      "type": "object",
      "description": "Response for creating a new app record for an app store hosted app.",
      "properties": {},
      "id": "CreateAppStoreHostedAppResponse"
    },
    "SubscriptionDetails": {
      "id": "SubscriptionDetails",
      "description": "Details of a subscription purchase.",
      "properties": {
        "basePlanId": {
          "description": "The base plan ID of the subscription.",
          "type": "string"
        },
        "servicePeriodStartTime": {
          "description": "The start of the billing period funded by this order. This is a snapshot of the billing/service period start time at the moment the order was processed, and should be used only for accounting.",
          "format": "google-datetime",
          "type": "string"
        },
        "offerPhaseDetails": {
          "description": "The pricing phase details for the entitlement period funded by this order.",
          "$ref": "OfferPhaseDetails"
        },
        "offerId": {
          "description": "The offer ID for the current subscription offer.",
          "type": "string"
        },
        "offerPhase": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: Use offer_phase_details instead. The pricing phase for the billing period funded by this order.",
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ]
        },
        "servicePeriodEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the billing period funded by this order. This is a snapshot of the billing/service period end time at the moment the order was processed, and should be used only for accounting. To get the current end time of the subscription service period, use purchases.subscriptionsv2.get."
        }
      },
      "type": "object"
    },
    "GeneratedSplitApk": {
      "id": "GeneratedSplitApk",
      "description": "Download metadata for a split APK.",
      "type": "object",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module that this APK belongs to."
        },
        "variantId": {
          "description": "ID of the generated variant.",
          "type": "integer",
          "format": "int32"
        },
        "splitId": {
          "description": "Split ID. Empty for the main split of the base module.",
          "type": "string"
        }
      }
    },
    "TrackConfig": {
      "description": "Configurations of the new track.",
      "id": "TrackConfig",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Fallback value, do not use.",
            "Closed testing track."
          ],
          "description": "Required. Type of the new track. Currently, the only supported value is closedTesting.",
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "CLOSED_TESTING"
          ]
        },
        "formFactor": {
          "enumDescriptions": [
            "Fallback value, do not use.",
            "Default track.",
            "Wear form factor track.",
            "Automotive form factor track."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "DEFAULT",
            "WEAR",
            "AUTOMOTIVE"
          ],
          "type": "string",
          "description": "Required. Form factor of the new track. Defaults to the default track."
        },
        "track": {
          "description": "Required. Identifier of the new track. For default tracks, this field consists of the track alias only. Form factor tracks have a special prefix as an identifier, for example `wear:production`, `automotive:production`. This prefix must match the value of the `form_factor` field, if it is not a default track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImagesListResponse": {
      "type": "object",
      "id": "ImagesListResponse",
      "properties": {
        "images": {
          "type": "array",
          "description": "All listed Images.",
          "items": {
            "$ref": "Image"
          }
        }
      },
      "description": "Response listing all images."
    },
    "DeleteOneTimeProductOfferRequest": {
      "type": "object",
      "properties": {
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to delete.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to delete.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to delete.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. The unique offer ID of the offer to delete."
        }
      },
      "description": "Request message for deleting an one-time product offer.",
      "id": "DeleteOneTimeProductOfferRequest"
    },
    "ExternalTransactionAddress": {
      "id": "ExternalTransactionAddress",
      "description": "User's address for the external transaction.",
      "properties": {
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Top-level administrative subdivision of the country/region. Only required for transactions in India. Valid values are \"ANDAMAN AND NICOBAR ISLANDS\", \"ANDHRA PRADESH\", \"ARUNACHAL PRADESH\", \"ASSAM\", \"BIHAR\", \"CHANDIGARH\", \"CHHATTISGARH\", \"DADRA AND NAGAR HAVELI\", \"DADRA AND NAGAR HAVELI AND DAMAN AND DIU\", \"DAMAN AND DIU\", \"DELHI\", \"GOA\", \"GUJARAT\", \"HARYANA\", \"HIMACHAL PRADESH\", \"JAMMU AND KASHMIR\", \"JHARKHAND\", \"KARNATAKA\", \"KERALA\", \"LADAKH\", \"LAKSHADWEEP\", \"MADHYA PRADESH\", \"MAHARASHTRA\", \"MANIPUR\", \"MEGHALAYA\", \"MIZORAM\", \"NAGALAND\", \"ODISHA\", \"PUDUCHERRY\", \"PUNJAB\", \"RAJASTHAN\", \"SIKKIM\", \"TAMIL NADU\", \"TELANGANA\", \"TRIPURA\", \"UTTAR PRADESH\", \"UTTARAKHAND\", and \"WEST BENGAL\"."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes)."
        }
      },
      "type": "object"
    },
    "Review": {
      "description": "An Android app review.",
      "properties": {
        "authorName": {
          "description": "The name of the user who wrote the review.",
          "type": "string"
        },
        "comments": {
          "description": "A repeated field containing comments for the review.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        },
        "reviewId": {
          "description": "Unique identifier for this review.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Review"
    },
    "GetOneTimeProductOfferRequest": {
      "type": "object",
      "description": "Request message for GetOneTimeProductOffers.",
      "properties": {
        "offerId": {
          "type": "string",
          "description": "Required. The unique offer ID of the offer to get."
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to get.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to get.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to get.",
          "type": "string"
        }
      },
      "id": "GetOneTimeProductOfferRequest"
    },
    "AppVersionRange": {
      "type": "object",
      "properties": {
        "versionCodeStart": {
          "format": "int64",
          "description": "Lowest app version in the range, inclusive.",
          "type": "string"
        },
        "versionCodeEnd": {
          "format": "int64",
          "type": "string",
          "description": "Highest app version in the range, inclusive."
        }
      },
      "id": "AppVersionRange",
      "description": "Data format for a continuous range of app versions."
    },
    "BatchUpdateBasePlanStatesResponse": {
      "id": "BatchUpdateBasePlanStatesResponse",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "type": "array",
          "description": "The list of updated subscriptions. This list will match the requests one to one, in the same order."
        }
      },
      "type": "object",
      "description": "Response message for BatchUpdateBasePlanStates."
    },
    "BaseDetails": {
      "type": "object",
      "properties": {},
      "description": "Details of a base price pricing phase.",
      "id": "BaseDetails"
    },
    "Grant": {
      "description": "An access grant resource.",
      "id": "Grant",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name of the app. This will be empty for draft apps."
        },
        "appLevelPermissions": {
          "type": "array",
          "items": {
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY",
              "CAN_MANAGE_DEEPLINKS"
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc.",
              "Manage the deep links setup of an app."
            ],
            "type": "string"
          },
          "description": "The permissions granted to the user for this app."
        },
        "name": {
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
          "type": "string"
        }
      }
    },
    "UploadApkResponse": {
      "properties": {
        "apkId": {
          "type": "string",
          "description": "The unique ID of the uploaded APK."
        }
      },
      "type": "object",
      "id": "UploadApkResponse",
      "description": "Response for uploading an APK."
    },
    "Comment": {
      "properties": {
        "userComment": {
          "$ref": "UserComment",
          "description": "A comment from a user."
        },
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        }
      },
      "description": "An entry of conversation between user and developer.",
      "type": "object",
      "id": "Comment"
    },
    "SubscriptionOfferPhase": {
      "description": "A single phase of a subscription offer.",
      "properties": {
        "recurrenceCount": {
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase.",
          "format": "int32",
          "type": "integer"
        },
        "regionalConfigs": {
          "type": "array",
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config.",
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          }
        },
        "duration": {
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format.",
          "type": "string"
        },
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig"
        }
      },
      "id": "SubscriptionOfferPhase",
      "type": "object"
    },
    "OtherRecurringProduct": {
      "description": "Details of a recurring external transaction product which doesn't belong to any other more specific category.",
      "id": "OtherRecurringProduct",
      "properties": {},
      "type": "object"
    },
    "AndroidSdks": {
      "type": "object",
      "properties": {
        "sdkLevels": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Android api levels of devices targeted by recovery action. See https://developer.android.com/guide/topics/manifest/uses-sdk-element#ApiLevels for different api levels in android."
        }
      },
      "id": "AndroidSdks",
      "description": "Android api level targeting data for app recovery action targeting."
    },
    "BatchUpdateOneTimeProductsResponse": {
      "id": "BatchUpdateOneTimeProductsResponse",
      "properties": {
        "oneTimeProducts": {
          "items": {
            "$ref": "OneTimeProduct"
          },
          "type": "array",
          "description": "The list of updated one-time products list, in the same order as the request."
        }
      },
      "description": "Response message for BatchUpdateOneTimeProduct.",
      "type": "object"
    },
    "DeactivateSubscriptionOfferRequest": {
      "type": "object",
      "description": "Request message for DeactivateSubscriptionOffer.",
      "id": "DeactivateSubscriptionOfferRequest",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. The parent subscription (ID) of the offer to deactivate."
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "offerId": {
          "description": "Required. The unique offer ID of the offer to deactivate.",
          "type": "string"
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The parent base plan (ID) of the offer to deactivate."
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to deactivate.",
          "type": "string"
        }
      }
    },
    "BatchGetSubscriptionsResponse": {
      "description": "Response message for BatchGetSubscriptions endpoint.",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "description": "The list of requested subscriptions, in the same order as the request.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchGetSubscriptionsResponse"
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "id": "OtherRegionsSubscriptionOfferPhaseConfig",
      "description": "Configuration for any new locations Play may launch in for a single offer phase.",
      "type": "object",
      "properties": {
        "absoluteDiscounts": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "otherRegionsPrices": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "relativeDiscount": {
          "format": "double",
          "type": "number",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in."
        },
        "free": {
          "description": "Set to specify this offer is free to obtain.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride"
        }
      }
    },
    "ActivateSubscriptionOfferRequest": {
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to activate."
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the offer to activate.",
          "type": "string"
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The parent base plan (ID) of the offer to activate."
        },
        "offerId": {
          "description": "Required. The unique offer ID of the offer to activate.",
          "type": "string"
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        }
      },
      "type": "object",
      "id": "ActivateSubscriptionOfferRequest",
      "description": "Request message for ActivateSubscriptionOffer."
    },
    "AppContactInformation": {
      "properties": {
        "websiteUrl": {
          "type": "string",
          "description": "The contact website url for this app. Optionally provided by the developer."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The contact phone for this app. Optionally provided by the developer."
        },
        "contactEmail": {
          "type": "string",
          "description": "The contact email for this app. Always set."
        }
      },
      "description": "Contact information for the app.",
      "type": "object",
      "id": "AppContactInformation"
    },
    "BatchUpdateOneTimeProductsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateOneTimeProductRequest"
          },
          "type": "array",
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different one-time products."
        }
      },
      "type": "object",
      "description": "Request message for BatchUpdateOneTimeProduct.",
      "id": "BatchUpdateOneTimeProductsRequest"
    },
    "BatchUpdateBasePlanStatesRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The update request list of up to 100 elements. All requests must update different base plans.",
          "items": {
            "$ref": "UpdateBasePlanStateRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateBasePlanStatesRequest",
      "description": "Request message for BatchUpdateBasePlanStates."
    },
    "ProductPurchasesAcknowledgeRequest": {
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        }
      },
      "description": "Request for the product.purchases.acknowledge API.",
      "type": "object",
      "id": "ProductPurchasesAcknowledgeRequest"
    },
    "RotateAppSigningKeyRequest": {
      "id": "RotateAppSigningKeyRequest",
      "properties": {
        "rotatedCloudKmsKey": {
          "$ref": "RotatedCloudKmsKey",
          "description": "Required. Self-hosted Cloud KMS key."
        },
        "keyRotationReason": {
          "enumDescriptions": [
            "Unspecified key rotation reason. Cannot be used.",
            "Key is compromised.",
            "Stronger key is required.",
            "Same key is used for multiple apps.",
            "Routine key upgrade.",
            "Other reason."
          ],
          "type": "string",
          "description": "Required. Reason for rotating the app key.",
          "enum": [
            "KEY_ROTATION_REASON_UNSPECIFIED",
            "COMPROMISED_KEY",
            "USE_STRONGER_KEY",
            "USE_SAME_KEY_FOR_MULTIPLE_APPS",
            "ROUTINE_KEY_UPGRADE",
            "OTHER"
          ]
        }
      },
      "type": "object",
      "description": "Request to rotate an app's signing key."
    },
    "CertificateHashes": {
      "properties": {
        "certificateHashMd5": {
          "description": "Hex-encoded MD5 hash of the certificate. example: `43:51:43:A1:B5:FC:8B:B7:0A:3A:A9:B1:0F:66:73:A8`",
          "type": "string"
        },
        "certificateHashSha256": {
          "description": "Hex-encoded SHA256 hash of the certificate. example: `94:49:C7:F3:A9:3C:F0:C5:5A:67:5D:DF:1C:83:73:2D:87:D5:62:55:E7:0B:15:0D:9E:6F:3C:F8:63:BB:7F:C1`",
          "type": "string"
        },
        "certificateHashSha1": {
          "description": "Hex-encoded SHA1 hash of the certificate. example: `86:61:97:1A:D5:EF:E5:74:1E:A7:5B:84:7C:68:37:65:CD:94:16:DE`",
          "type": "string"
        }
      },
      "id": "CertificateHashes",
      "type": "object",
      "description": "Hash digests of a certificate."
    },
    "UploadImageResponse": {
      "type": "object",
      "properties": {
        "imageId": {
          "description": "The unique ID of the uploaded image.",
          "type": "string"
        }
      },
      "id": "UploadImageResponse",
      "description": "Response for uploading an image."
    },
    "SystemFeature": {
      "type": "object",
      "id": "SystemFeature",
      "properties": {
        "name": {
          "description": "The name of the feature.",
          "type": "string"
        }
      },
      "description": "Representation of a system feature."
    },
    "RentalDetails": {
      "properties": {},
      "description": "Details of a rental purchase.",
      "type": "object",
      "id": "RentalDetails"
    },
    "EnrollNewApp": {
      "id": "EnrollNewApp",
      "description": "Enroll a new app into Play signing.",
      "properties": {
        "cloudKmsKeyAndCert": {
          "description": "Required. Self-hosted key. Once enrolled, this key will be used to sign your app.",
          "$ref": "CloudKmsKeyAndCert"
        }
      },
      "type": "object"
    },
    "InstallmentsBasePlanType": {
      "type": "object",
      "description": "Represents an installments base plan where a user commits to a specified number of payments.",
      "id": "InstallmentsBasePlanType",
      "properties": {
        "prorationMode": {
          "enum": [
            "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "Users will be charged for their new base plan at the end of their current billing period.",
            "Users will be charged for their new base plan immediately and in full. Any remaining period of their existing subscription will be used to extend the duration of the new billing plan."
          ],
          "type": "string",
          "description": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE."
        },
        "resubscribeState": {
          "type": "string",
          "description": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified.",
          "enum": [
            "RESUBSCRIBE_STATE_UNSPECIFIED",
            "RESUBSCRIBE_STATE_ACTIVE",
            "RESUBSCRIBE_STATE_INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Resubscribe is active.",
            "Resubscribe is inactive."
          ]
        },
        "accountHoldDuration": {
          "description": "Optional. Custom account hold period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and P60D. An empty field represents a recommended account hold, calculated as 60 days minus grace period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive.",
          "type": "string"
        },
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created."
        },
        "committedPaymentsCount": {
          "description": "Required. Immutable. The number of payments the user is committed to. It is immutable after the base plan is created.",
          "type": "integer",
          "format": "int32"
        },
        "renewalType": {
          "enum": [
            "RENEWAL_TYPE_UNSPECIFIED",
            "RENEWAL_TYPE_RENEWS_WITHOUT_COMMITMENT",
            "RENEWAL_TYPE_RENEWS_WITH_COMMITMENT"
          ],
          "description": "Required. Immutable. Installments base plan renewal type. Determines the behavior at the end of the initial commitment. The renewal type is immutable after the base plan is created.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Renews periodically for the billing period duration without commitment.",
            "Renews with the commitment of the same duration as the initial one."
          ]
        },
        "gracePeriodDuration": {
          "type": "string",
          "description": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and the lesser of 30D and base plan billing period. If not specified, a default value will be used based on the billing period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
        }
      }
    },
    "TargetingRuleScopeAnySubscriptionInApp": {
      "properties": {},
      "description": "Represents the targeting rule scope corresponding to any subscription in the parent app.",
      "id": "TargetingRuleScopeAnySubscriptionInApp",
      "type": "object"
    },
    "ListSubscriptionsResponse": {
      "description": "Response message for ListSubscriptions.",
      "id": "ListSubscriptionsResponse",
      "type": "object",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The subscriptions from the specified app.",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "OnHoldStateContext": {
      "description": "Additional context around subscriptions in ON_HOLD state.",
      "properties": {
        "renewalDeclined": {
          "$ref": "RenewalDeclinedContext",
          "description": "Optional. The payment for the renewal was declined."
        }
      },
      "type": "object",
      "id": "OnHoldStateContext"
    },
    "AssetSliceSet": {
      "description": "Set of asset slices belonging to a single asset module.",
      "properties": {
        "apkDescription": {
          "items": {
            "$ref": "ApkDescription"
          },
          "type": "array",
          "description": "Asset slices."
        },
        "assetModuleMetadata": {
          "description": "Module level metadata.",
          "$ref": "AssetModuleMetadata"
        }
      },
      "type": "object",
      "id": "AssetSliceSet"
    },
    "TestPurchase": {
      "id": "TestPurchase",
      "properties": {},
      "description": "Whether this subscription purchase is a test purchase.",
      "type": "object"
    },
    "ListSubscriptionOffersResponse": {
      "type": "object",
      "description": "Response message for ListSubscriptionOffers.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "subscriptionOffers": {
          "description": "The subscription offers from the specified subscription.",
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "type": "array"
        }
      },
      "id": "ListSubscriptionOffersResponse"
    },
    "BatchGetOrdersResponse": {
      "properties": {
        "orders": {
          "description": "Details for the requested order IDs.",
          "items": {
            "$ref": "Order"
          },
          "type": "array"
        }
      },
      "id": "BatchGetOrdersResponse",
      "description": "Response for the orders.batchGet API.",
      "type": "object"
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer.",
      "type": "object",
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false.",
          "type": "boolean"
        }
      },
      "id": "OtherRegionsSubscriptionOfferConfig"
    },
    "PageInfo": {
      "type": "object",
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned.",
      "properties": {
        "totalResults": {
          "description": "Total number of results available on the backend ! The total number of results in the result set.",
          "type": "integer",
          "format": "int32"
        },
        "resultPerPage": {
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response.",
          "type": "integer",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "description": "Index of the first result returned in the current page.",
          "format": "int32"
        }
      },
      "id": "PageInfo"
    },
    "ConvertRegionPricesRequest": {
      "type": "object",
      "id": "ConvertRegionPricesRequest",
      "properties": {
        "productTaxCategoryCode": {
          "description": "Optional. Product tax category code in context. Product tax category determines the transaction tax rates applied to the product that will be factored into the price calculation. If not set, tax rates for the default product tax category will be used. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information.",
          "type": "string"
        },
        "price": {
          "$ref": "Money",
          "description": "The intital price to convert other regions from. Tax exclusive."
        }
      },
      "description": "Request message for ConvertRegionPrices."
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CancelOneTimeProductOfferRequest": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the offer to cancel."
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. The parent purchase option (ID) of the offer to cancel."
        },
        "offerId": {
          "type": "string",
          "description": "Required. The offer ID of the offer to cancel."
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to cancel."
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive.",
          "type": "string"
        }
      },
      "description": "Request message for CancelOneTimeProductOffer.",
      "id": "CancelOneTimeProductOfferRequest",
      "type": "object"
    },
    "FreeTrialDetails": {
      "description": "Details of a free trial pricing phase.",
      "id": "FreeTrialDetails",
      "type": "object",
      "properties": {}
    },
    "DeviceId": {
      "type": "object",
      "properties": {
        "buildDevice": {
          "description": "Value of Build.DEVICE.",
          "type": "string"
        },
        "buildBrand": {
          "description": "Value of Build.BRAND.",
          "type": "string"
        }
      },
      "id": "DeviceId",
      "description": "Identifier of a device."
    },
    "OneTimeExternalTransaction": {
      "description": "Represents a one-time transaction.",
      "id": "OneTimeExternalTransaction",
      "properties": {
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductPurchase": {
      "id": "ProductPurchase",
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "type": "object",
      "properties": {
        "consumptionState": {
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed",
          "type": "integer",
          "format": "int32"
        },
        "quantity": {
          "format": "int32",
          "type": "integer",
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1."
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "purchaseType": {
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code). Does not include Play Points purchases. 2. Rewarded (i.e. from watching a video ad instead of paying)",
          "type": "integer",
          "format": "int32"
        },
        "productId": {
          "description": "The inapp product SKU. May not be present.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "acknowledgementState": {
          "type": "integer",
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "format": "int32"
        },
        "refundableQuantity": {
          "type": "integer",
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds.",
          "format": "int32"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents an inappPurchase object in the androidpublisher service."
        },
        "purchaseTimeMillis": {
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "format": "int64",
          "type": "string"
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product.",
          "type": "string"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "purchaseToken": {
          "type": "string",
          "description": "The purchase token generated to identify this purchase. May not be present."
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "TrackTargetedCountry": {
      "properties": {
        "countryCode": {
          "description": "The country that can be targeted, as a two-letter CLDR code.",
          "type": "string"
        }
      },
      "description": "Representation of a single country where the contents of a track can be made available.",
      "id": "TrackTargetedCountry",
      "type": "object"
    },
    "GeneratedUniversalApk": {
      "type": "object",
      "properties": {
        "downloadId": {
          "type": "string",
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method."
        }
      },
      "description": "Download metadata for a universal APK.",
      "id": "GeneratedUniversalApk"
    },
    "SafetyLabelsUpdateResponse": {
      "properties": {},
      "description": "Response for SafetyLabelsUpdate rpc.",
      "id": "SafetyLabelsUpdateResponse",
      "type": "object"
    },
    "BatchUpdateSubscriptionsResponse": {
      "id": "BatchUpdateSubscriptionsResponse",
      "type": "object",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "type": "array",
          "description": "The updated subscriptions list."
        }
      },
      "description": "Response message for BatchUpdateSubscription."
    },
    "RenewalDeclinedContext": {
      "id": "RenewalDeclinedContext",
      "description": "Context related to renewal declined scenario.",
      "type": "object",
      "properties": {
        "pendingOrderId": {
          "description": "Required. The ID of the pending or failed order causing the state.",
          "type": "string"
        }
      }
    },
    "Listing": {
      "id": "Listing",
      "description": "A localized store listing. The resource for ListingsService.",
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
        },
        "fullDescription": {
          "description": "Full description of the app.",
          "type": "string"
        },
        "video": {
          "description": "URL of a promotional YouTube video for the app.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Localized title of the app."
        },
        "shortDescription": {
          "description": "Short description of the app.",
          "type": "string"
        }
      }
    },
    "SubscriptionPurchaseLineItem": {
      "properties": {
        "deferredItemReplacement": {
          "description": "Information for deferred item replacement.",
          "$ref": "DeferredItemReplacement"
        },
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        },
        "offerDetails": {
          "$ref": "OfferDetails",
          "description": "The offer details for this item."
        },
        "expiryTime": {
          "type": "string",
          "description": "Time at which the subscription expired or will expire unless the access is extended (ex. renews).",
          "format": "google-datetime"
        },
        "deferredItemRemoval": {
          "$ref": "DeferredItemRemoval",
          "description": "Information for deferred item removal."
        },
        "signupPromotion": {
          "description": "Promotion details about this item. Only set if a promotion was applied during signup.",
          "$ref": "SignupPromotion"
        },
        "prepaidPlan": {
          "$ref": "PrepaidPlan",
          "description": "The item is prepaid."
        },
        "offerPhase": {
          "$ref": "OfferPhase",
          "description": "Current offer phase details for this item."
        },
        "latestSuccessfulOrderId": {
          "description": "The order id of the latest successful order associated with this item. Not present if the item is not owned by the user yet (e.g. the item being deferred replaced to).",
          "type": "string"
        },
        "itemReplacement": {
          "description": "Details of the item being replaced. This field is only populated if this item replaced another item in a previous subscription and is only available for 60 days after the purchase time.",
          "$ref": "ItemReplacement"
        },
        "autoRenewingPlan": {
          "description": "The item is auto renewing.",
          "$ref": "AutoRenewingPlan"
        }
      },
      "type": "object",
      "description": "Item-level info for a subscription purchase.",
      "id": "SubscriptionPurchaseLineItem"
    },
    "SplitApkVariant": {
      "properties": {
        "targeting": {
          "description": "Variant-level targeting.",
          "$ref": "VariantTargeting"
        },
        "variantNumber": {
          "description": "Number of the variant, starting at 0 (unless overridden). A device will receive APKs from the first variant that matches the device configuration, with higher variant numbers having priority over lower variant numbers.",
          "type": "integer",
          "format": "int32"
        },
        "apkSet": {
          "description": "Set of APKs, one set per module.",
          "items": {
            "$ref": "ApkSet"
          },
          "type": "array"
        }
      },
      "id": "SplitApkVariant",
      "description": "Variant is a group of APKs that covers a part of the device configuration space. APKs from multiple variants are never combined on one device.",
      "type": "object"
    },
    "SubscriptionListing": {
      "id": "SubscriptionListing",
      "properties": {
        "benefits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of benefits shown to the user on platforms such as the Play Store and in restoration flows in the language of this listing. Plain text. Ordered list of at most four benefits."
        },
        "title": {
          "description": "Required. The title of this subscription in the language of this listing. Plain text.",
          "type": "string"
        },
        "languageCode": {
          "description": "Required. The language of this listing, as defined by BCP-47, e.g. \"en-US\".",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this subscription in the language of this listing. Maximum length - 200 characters. Plain text."
        }
      },
      "description": "The consumer-visible metadata of a subscription.",
      "type": "object"
    },
    "DeviceTierConfig": {
      "type": "object",
      "description": "Configuration describing device targeting criteria for the content of an app.",
      "id": "DeviceTierConfig",
      "properties": {
        "deviceTierSet": {
          "description": "Definition of the set of device tiers for the app.",
          "$ref": "DeviceTierSet"
        },
        "deviceTierConfigId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The device tier config ID."
        },
        "userCountrySets": {
          "type": "array",
          "description": "Definition of user country sets for the app.",
          "items": {
            "$ref": "UserCountrySet"
          }
        },
        "deviceGroups": {
          "description": "Definition of device groups for the app.",
          "type": "array",
          "items": {
            "$ref": "DeviceGroup"
          }
        }
      }
    },
    "VideoAsset": {
      "type": "object",
      "description": "A video asset.",
      "id": "VideoAsset",
      "properties": {
        "videoUrl": {
          "type": "string",
          "description": "The URL of the video asset."
        }
      }
    },
    "PreorderOfferDetails": {
      "type": "object",
      "properties": {
        "preorderReleaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when a preordered item is released for a preorder purchase."
        }
      },
      "description": "Offer details information related to a preorder line item.",
      "id": "PreorderOfferDetails"
    },
    "ListAppRecoveriesResponse": {
      "id": "ListAppRecoveriesResponse",
      "type": "object",
      "properties": {
        "recoveryActions": {
          "type": "array",
          "description": "List of recovery actions associated with the requested package name.",
          "items": {
            "$ref": "AppRecoveryAction"
          }
        }
      },
      "description": "Response message for ListAppRecoveries. -- api-linter: core::0158::response-next-page-token-field=disabled"
    },
    "AppDetails": {
      "id": "AppDetails",
      "description": "The app details. The resource for DetailsService.",
      "properties": {
        "contactWebsite": {
          "description": "The user-visible website for this app.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "Default language code, in BCP 47 format (eg \"en-US\").",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "The user-visible support email for this app."
        },
        "contactPhone": {
          "description": "The user-visible support telephone number for this app.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExpansionFile": {
      "properties": {
        "fileSize": {
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes.",
          "format": "int64",
          "type": "string"
        },
        "referencesVersion": {
          "format": "int32",
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set.",
          "type": "integer"
        }
      },
      "id": "ExpansionFile",
      "type": "object",
      "description": "An expansion file. The resource for ExpansionFilesService."
    },
    "MigrateBasePlanPricesResponse": {
      "description": "Response message for MigrateBasePlanPrices.",
      "properties": {},
      "type": "object",
      "id": "MigrateBasePlanPricesResponse"
    },
    "Regions": {
      "properties": {
        "regionCode": {
          "items": {
            "type": "string"
          },
          "description": "Regions targeted by the recovery action. Region codes are ISO 3166 Alpha-2 country codes. For example, US stands for United States of America. See https://www.iso.org/iso-3166-country-codes.html for the complete list of country codes.",
          "type": "array"
        }
      },
      "description": "Region targeting data for app recovery action targeting.",
      "id": "Regions",
      "type": "object"
    },
    "CancelSubscriptionPurchaseResponse": {
      "properties": {},
      "type": "object",
      "id": "CancelSubscriptionPurchaseResponse",
      "description": "Response for the purchases.subscriptionsv2.cancel API."
    },
    "BuyerAddress": {
      "type": "object",
      "properties": {
        "buyerPostcode": {
          "description": "Postal code of an address. When Google is the Merchant of Record for the order, this information is not included.",
          "type": "string"
        },
        "buyerCountry": {
          "description": "Two letter country code based on ISO-3166-1 Alpha-2 (UN country codes).",
          "type": "string"
        },
        "buyerState": {
          "description": "Top-level administrative subdivision of the buyer address country. When Google is the Merchant of Record for the order, this information is not included.",
          "type": "string"
        }
      },
      "description": "Address information for the customer, for use in tax computation.",
      "id": "BuyerAddress"
    },
    "AppStoreAppDetails": {
      "type": "object",
      "properties": {
        "developerName": {
          "description": "Required. The app developer's name.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "Required. The app developer's contact email address."
        },
        "developerWebsite": {
          "description": "Optional. Website link for the developer or app.",
          "type": "string"
        }
      },
      "id": "AppStoreAppDetails",
      "description": "Details about the app."
    },
    "BatchGetSubscriptionOffersRequest": {
      "description": "Request message for BatchGetSubscriptionOffers endpoint.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GetSubscriptionOfferRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscriptions.",
          "type": "array"
        }
      },
      "id": "BatchGetSubscriptionOffersRequest",
      "type": "object"
    },
    "DeferralContext": {
      "id": "DeferralContext",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Required. The API will fail if the etag does not match the latest etag for this subscription. The etag is retrieved from purchases.subscriptionsv2.get: https://developers.google.com/android-publisher/api-ref/rest/v3/purchases.subscriptionsv2/get"
        },
        "validateOnly": {
          "description": "If set to \"true\", the request is a dry run to validate the effect of Defer, the subscription would not be impacted.",
          "type": "boolean"
        },
        "deferDuration": {
          "format": "google-duration",
          "description": "Required. The duration by which all subscription items should be deferred.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Deferral context of the purchases.subscriptionsv2.defer API."
    },
    "RamSelector": {
      "description": "Defines a RAM selector for a device.",
      "id": "RamSelector",
      "type": "object",
      "properties": {
        "ramMbLessThanOrEqual": {
          "type": "string",
          "format": "int64",
          "description": "This will match any device that has less than or equal ram_mb_less_than_or_equal mb of RAM."
        }
      }
    },
    "TextureCompressionFormat": {
      "properties": {
        "alias": {
          "description": "Alias for texture compression format.",
          "enum": [
            "UNSPECIFIED_TEXTURE_COMPRESSION_FORMAT",
            "ETC1_RGB8",
            "PALETTED",
            "THREE_DC",
            "ATC",
            "LATC",
            "DXT1",
            "S3TC",
            "PVRTC",
            "ASTC",
            "ETC2"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "ETC1_RGB8 format.",
            "PALETTED format.",
            "THREE_DC format.",
            "ATC format.",
            "LATC format.",
            "DXT1 format.",
            "S3TC format.",
            "PVRTC format.",
            "ASTC format.",
            "ETC2 format."
          ]
        }
      },
      "id": "TextureCompressionFormat",
      "type": "object",
      "description": "Represents texture compression format."
    },
    "OutOfAppPurchaseContext": {
      "type": "object",
      "id": "OutOfAppPurchaseContext",
      "properties": {
        "expiredPurchaseToken": {
          "description": "The purchase token of the last expired subscription. This purchase token must only be used to help identify the user if the link between the purchaseToken and user is stored in your database. This cannot be used to call the Google Developer API if it has been more than 60 days since expiry.",
          "type": "string"
        },
        "expiredExternalAccountIdentifiers": {
          "$ref": "ExternalAccountIdentifiers",
          "description": "User account identifier from the last expired subscription for this SKU."
        }
      },
      "description": "Information specific to an out of app purchase."
    },
    "RegionalProductAgeRatingInfo": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        },
        "productAgeRatingTier": {
          "enumDescriptions": [
            "Unknown age rating tier.",
            "Age rating tier for products that are appropriate for all ages.",
            "Age rating tier for products that are appropriate for 13 years and above.",
            "Age rating tier for products that are appropriate for 16 years and above.",
            "Age rating tier for products that are appropriate for 18 years and above."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_AGE_RATING_TIER_UNKNOWN",
            "PRODUCT_AGE_RATING_TIER_EVERYONE",
            "PRODUCT_AGE_RATING_TIER_THIRTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_SIXTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_EIGHTEEN_AND_ABOVE"
          ],
          "description": "The age rating tier of a product for the given region."
        }
      },
      "description": "Details about the age rating for a specific geographic region.",
      "type": "object",
      "id": "RegionalProductAgeRatingInfo"
    },
    "FreeTrialOfferPhase": {
      "type": "object",
      "properties": {},
      "id": "FreeTrialOfferPhase",
      "description": "Details about free trial offer phase."
    },
    "AssetModuleMetadata": {
      "type": "object",
      "id": "AssetModuleMetadata",
      "description": "Metadata of an asset module.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Module name."
        },
        "deliveryType": {
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ],
          "description": "Indicates the delivery type for persistent install.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ]
        }
      }
    },
    "RemoteInAppUpdateDataPerBundle": {
      "id": "RemoteInAppUpdateDataPerBundle",
      "description": "Data related to the recovery action at bundle level.",
      "properties": {
        "versionCode": {
          "description": "Version Code corresponding to the target bundle.",
          "type": "string",
          "format": "int64"
        },
        "recoveredDeviceCount": {
          "description": "Total number of devices which have been rescued.",
          "format": "int64",
          "type": "string"
        },
        "totalDeviceCount": {
          "format": "int64",
          "description": "Total number of devices affected by this recovery action associated with bundle of the app.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PendingCancellation": {
      "type": "object",
      "properties": {},
      "id": "PendingCancellation",
      "description": "This is an indicator of whether there is a pending cancellation on the virtual installment plan. The cancellation will happen only after the user finished all committed payments."
    },
    "DeobfuscationFile": {
      "id": "DeobfuscationFile",
      "properties": {
        "symbolType": {
          "type": "string",
          "description": "The type of the deobfuscation file.",
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ]
        }
      },
      "description": "Represents a deobfuscation file.",
      "type": "object"
    },
    "SystemInitiatedCancellation": {
      "properties": {},
      "type": "object",
      "description": "Information specific to cancellations initiated by Google system.",
      "id": "SystemInitiatedCancellation"
    },
    "CloudKmsKeyAndCert": {
      "type": "object",
      "id": "CloudKmsKeyAndCert",
      "description": "Cloud KMS key and the certificate associated with the key.",
      "properties": {
        "cloudKmsKey": {
          "$ref": "CloudKmsKey",
          "description": "Required. Cloud KMS key."
        },
        "pemCertificate": {
          "format": "byte",
          "description": "Required. Certificate associated with the key. The bytes must contain the certificate in PEM format.",
          "type": "string"
        }
      }
    },
    "ProrationPeriodOfferPhase": {
      "id": "ProrationPeriodOfferPhase",
      "properties": {
        "originalOfferPhaseType": {
          "description": "The original offer phase type before the proration period. Only set when the proration period is updated from an existing offer phase.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified original offer phase type.",
            "The subscription is in the base pricing phase (e.g. full price).",
            "The subscription is in an introductory pricing phase.",
            "The subscription is in a free trial."
          ],
          "enum": [
            "ORIGINAL_OFFER_PHASE_TYPE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ]
        }
      },
      "description": "Details about proration period offer phase.",
      "type": "object"
    },
    "ActivateBasePlanRequest": {
      "type": "object",
      "id": "ActivateBasePlanRequest",
      "description": "Request message for ActivateBasePlan.",
      "properties": {
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the base plan to activate.",
          "type": "string"
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The unique base plan ID of the base plan to activate."
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the base plan to activate.",
          "type": "string"
        }
      }
    },
    "AutoRenewingPlan": {
      "id": "AutoRenewingPlan",
      "properties": {
        "priceStepUpConsentDetails": {
          "description": "The information of the latest price step-up consent.",
          "$ref": "PriceStepUpConsentDetails"
        },
        "autoRenewEnabled": {
          "type": "boolean",
          "description": "If the subscription is currently set to auto-renew, e.g. the user has not canceled the subscription"
        },
        "installmentDetails": {
          "description": "The installment plan commitment and state related info for the auto renewing plan.",
          "$ref": "InstallmentPlan"
        },
        "recurringPrice": {
          "description": "The current recurring price of the auto renewing plan. Note that the price does not take into account discounts and does not include taxes. For tax-exclusive pricing, please call orders.get API instead if transaction details are needed.",
          "$ref": "Money"
        },
        "priceChangeDetails": {
          "description": "The information of the last price change for the item since subscription signup.",
          "$ref": "SubscriptionItemPriceChangeDetails"
        }
      },
      "type": "object",
      "description": "Information related to an auto renewing plan."
    },
    "ReleaseSummary": {
      "description": "Summary of a release.",
      "type": "object",
      "properties": {
        "activeArtifacts": {
          "description": "List of active artifacts on this release",
          "items": {
            "$ref": "ArtifactSummary"
          },
          "type": "array"
        },
        "releaseName": {
          "type": "string",
          "description": "Name of the release."
        },
        "track": {
          "type": "string",
          "description": "Identifier for the track. [Learn more about track names.](https://developers.google.com/android-publisher/tracks)."
        },
        "releaseLifecycleState": {
          "enumDescriptions": [
            "Not specified.",
            "The release is not yet ready and can still be edited.",
            "The release is ready to be sent for review and an action is required from developer",
            "Submitted and in review",
            "Passed review and is ready to be published manually by developer",
            "App was rejected in review",
            "Available to users on the track. This includes fully- or partially-rolled out releases and any halted release that can be resumed."
          ],
          "type": "string",
          "enum": [
            "RELEASE_LIFECYCLE_STATE_UNSPECIFIED",
            "RELEASE_LIFECYCLE_STATE_DRAFT",
            "RELEASE_LIFECYCLE_STATE_NOT_SENT_FOR_REVIEW",
            "RELEASE_LIFECYCLE_STATE_IN_REVIEW",
            "RELEASE_LIFECYCLE_STATE_APPROVED_NOT_PUBLISHED",
            "RELEASE_LIFECYCLE_STATE_NOT_APPROVED",
            "RELEASE_LIFECYCLE_STATE_PUBLISHED"
          ],
          "description": "The lifecycle state of a release."
        }
      },
      "id": "ReleaseSummary"
    },
    "ExpansionFilesUploadResponse": {
      "description": "Response for uploading an expansion file.",
      "type": "object",
      "id": "ExpansionFilesUploadResponse",
      "properties": {
        "expansionFile": {
          "description": "The uploaded expansion file configuration.",
          "$ref": "ExpansionFile"
        }
      }
    },
    "ImagesUploadResponse": {
      "id": "ImagesUploadResponse",
      "type": "object",
      "description": "Response for uploading an image.",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "The uploaded image."
        }
      }
    },
    "UploadImageRequest": {
      "type": "object",
      "id": "UploadImageRequest",
      "description": "Request to upload an image.",
      "properties": {}
    },
    "Variant": {
      "id": "Variant",
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "type": "object",
      "properties": {
        "variantId": {
          "description": "Output only. The ID of a previously created system APK variant.",
          "readOnly": true,
          "type": "integer",
          "format": "uint32"
        },
        "options": {
          "$ref": "SystemApkOptions",
          "description": "Optional. Options applied to the generated APK."
        },
        "deviceSpec": {
          "description": "The device spec used to generate the APK.",
          "$ref": "DeviceSpec"
        }
      }
    },
    "OneTimePurchaseDetails": {
      "id": "OneTimePurchaseDetails",
      "properties": {
        "rentalDetails": {
          "$ref": "RentalDetails",
          "description": "The details of a rent purchase. Only set if it is a rent purchase."
        },
        "offerId": {
          "description": "The offer ID of the one-time purchase offer.",
          "type": "string"
        },
        "preorderDetails": {
          "$ref": "PreorderDetails",
          "description": "The details of a pre-order purchase. Only set if it is a pre-order purchase. Note that this field will be set even after pre-order is fulfilled."
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "ID of the purchase option. This field is set for both purchase options and variant offers. For purchase options, this ID identifies the purchase option itself. For variant offers, this ID refers to the associated purchase option, and in conjunction with offer_id it identifies the variant offer."
        },
        "quantity": {
          "description": "The number of items purchased (for multi-quantity item purchases).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Details of a one-time purchase.",
      "type": "object"
    },
    "TargetingUpdate": {
      "description": "Update type for targeting. Note it is always a subset Targeting.",
      "type": "object",
      "properties": {
        "androidSdks": {
          "$ref": "AndroidSdks",
          "description": "Additional android sdk levels are targeted by the recovery action."
        },
        "allUsers": {
          "$ref": "AllUsers",
          "description": "All users are targeted."
        },
        "regions": {
          "description": "Additional regions are targeted by the recovery action.",
          "$ref": "Regions"
        }
      },
      "id": "TargetingUpdate"
    },
    "PurchaseStateContext": {
      "properties": {
        "purchaseState": {
          "enum": [
            "PURCHASE_STATE_UNSPECIFIED",
            "PURCHASED",
            "CANCELLED",
            "PENDING"
          ],
          "description": "Output only. The purchase state of the purchase.",
          "enumDescriptions": [
            "Purchase state unspecified. This value should never be set.",
            "Purchased successfully.",
            "Purchase canceled.",
            "The purchase is in a pending state and has not yet been completed. For more information on handling pending purchases, see https://developer.android.com/google/play/billing/integrate#pending."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "PurchaseStateContext",
      "description": "Context about the purchase state."
    },
    "OrderHistory": {
      "id": "OrderHistory",
      "description": "Details about events which modified the order.",
      "type": "object",
      "properties": {
        "cancellationEvent": {
          "$ref": "CancellationEvent",
          "description": "Details of when the order was canceled."
        },
        "refundEvent": {
          "$ref": "RefundEvent",
          "description": "Details of when the order was fully refunded."
        },
        "processedEvent": {
          "$ref": "ProcessedEvent",
          "description": "Details of when the order was processed."
        },
        "partialRefundEvents": {
          "description": "Details of the partial refund events for this order.",
          "items": {
            "$ref": "PartialRefundEvent"
          },
          "type": "array"
        }
      }
    },
    "ProductLineItem": {
      "properties": {
        "productOfferDetails": {
          "description": "The offer details for this item.",
          "$ref": "ProductOfferDetails"
        },
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        }
      },
      "description": "Contains item-level info for a ProductPurchaseV2.",
      "type": "object",
      "id": "ProductLineItem"
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "description": "Characteristics of the user's device.",
      "type": "object",
      "properties": {
        "manufacturer": {
          "description": "Device manufacturer (e.g. Motorola)",
          "type": "string"
        },
        "cpuModel": {
          "description": "Device CPU model, e.g. \"MSM8974\"",
          "type": "string"
        },
        "nativePlatform": {
          "type": "string",
          "description": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")"
        },
        "cpuMake": {
          "description": "Device CPU make, e.g. \"Qualcomm\"",
          "type": "string"
        },
        "screenHeightPx": {
          "description": "Screen height in pixels",
          "type": "integer",
          "format": "int32"
        },
        "ramMb": {
          "description": "Device RAM in Megabytes, e.g. \"2048\"",
          "type": "integer",
          "format": "int32"
        },
        "productName": {
          "type": "string",
          "description": "Device model name (e.g. Droid)"
        },
        "screenWidthPx": {
          "type": "integer",
          "format": "int32",
          "description": "Screen width in pixels"
        },
        "screenDensityDpi": {
          "type": "integer",
          "description": "Screen density in DPI",
          "format": "int32"
        },
        "glEsVersion": {
          "description": "OpenGL version",
          "format": "int32",
          "type": "integer"
        },
        "deviceClass": {
          "description": "Device class (e.g. tablet)",
          "type": "string"
        }
      }
    },
    "ListOneTimeProductOffersResponse": {
      "type": "object",
      "id": "ListOneTimeProductOffersResponse",
      "description": "Response message for ListOneTimeProductOffers.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "oneTimeProductOffers": {
          "type": "array",
          "description": "The one_time_product offers from the specified request.",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      }
    },
    "RevocationContextFullRefund": {
      "type": "object",
      "description": "Used to determine if the refund type in the RevocationContext is a full refund.",
      "id": "RevocationContextFullRefund",
      "properties": {}
    },
    "ScreenDensityTargeting": {
      "id": "ScreenDensityTargeting",
      "properties": {
        "alternatives": {
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "items": {
            "$ref": "ScreenDensity"
          }
        },
        "value": {
          "items": {
            "$ref": "ScreenDensity"
          },
          "description": "Value of a screen density.",
          "type": "array"
        }
      },
      "description": "Targeting based on screen density.",
      "type": "object"
    },
    "AppVersionList": {
      "type": "object",
      "properties": {
        "versionCodes": {
          "description": "List of app version codes.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "description": "Data format for a list of app versions.",
      "id": "AppVersionList"
    },
    "ApkBinary": {
      "type": "object",
      "properties": {
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        },
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        }
      },
      "description": "Represents the binary payload of an APK.",
      "id": "ApkBinary"
    },
    "SubscribeWithGoogleInfo": {
      "id": "SubscribeWithGoogleInfo",
      "type": "object",
      "description": "Information associated with purchases made with 'Subscribe with Google'.",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user when the subscription was purchased."
        },
        "givenName": {
          "description": "The given name of the user when the subscription was purchased.",
          "type": "string"
        },
        "familyName": {
          "type": "string",
          "description": "The family name of the user when the subscription was purchased."
        },
        "profileId": {
          "type": "string",
          "description": "The Google profile id of the user when the subscription was purchased."
        },
        "profileName": {
          "type": "string",
          "description": "The profile name of the user when the subscription was purchased."
        }
      }
    },
    "PolicyGroupResponse": {
      "id": "PolicyGroupResponse",
      "type": "object",
      "description": "A repeated group of responses.",
      "properties": {
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "description": "Optional. Groups of responses to questions.",
          "type": "array"
        }
      }
    },
    "TargetingInfo": {
      "id": "TargetingInfo",
      "type": "object",
      "description": "Targeting information about the generated apks.",
      "properties": {
        "assetSliceSet": {
          "description": "List of created asset slices.",
          "items": {
            "$ref": "AssetSliceSet"
          },
          "type": "array"
        },
        "packageName": {
          "description": "The package name of this app.",
          "type": "string"
        },
        "variant": {
          "items": {
            "$ref": "SplitApkVariant"
          },
          "description": "List of the created variants.",
          "type": "array"
        }
      }
    },
    "BatchGetOneTimeProductOffersResponse": {
      "type": "object",
      "description": "Response message for the BatchGetOneTimeProductOffers endpoint.",
      "id": "BatchGetOneTimeProductOffersResponse",
      "properties": {
        "oneTimeProductOffers": {
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "type": "array",
          "description": "The list of updated one-time product offers, in the same order as the request."
        }
      }
    },
    "StandaloneApkMetadata": {
      "properties": {
        "fusedModuleName": {
          "items": {
            "type": "string"
          },
          "description": "Names of the modules fused in this standalone APK.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "StandaloneApkMetadata",
      "description": "Holds data specific to Standalone APKs."
    },
    "RegionalPriceMigrationConfig": {
      "type": "object",
      "id": "RegionalPriceMigrationConfig",
      "description": "Configuration for migration of a legacy price cohort.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        },
        "oldestAllowedPriceVersionTime": {
          "description": "Required. Subscribers in all legacy price cohorts before this time will be migrated to the current price. Subscribers in any newer price cohorts are unaffected. Affected subscribers will receive one or more notifications from Google Play about the price change. Price decreases occur at the subscriber's next billing date. Price increases occur at the subscriber's next billing date following a notification period that varies by region and price increase type.",
          "type": "string",
          "format": "google-datetime"
        },
        "priceIncreaseType": {
          "type": "string",
          "description": "Optional. The requested type of price increase",
          "enum": [
            "PRICE_INCREASE_TYPE_UNSPECIFIED",
            "PRICE_INCREASE_TYPE_OPT_IN",
            "PRICE_INCREASE_TYPE_OPT_OUT"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Subscribers must accept the price increase or their subscription is canceled.",
            "Subscribers are notified but do not have to accept the price increase. Opt-out price increases not meeting regional, frequency, and amount limits will proceed as opt-in price increase. The first opt-out price increase for each app must be initiated in the Google Play Console."
          ]
        }
      }
    },
    "AbiTargeting": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "Abi"
          },
          "description": "Value of an abi."
        },
        "alternatives": {
          "items": {
            "$ref": "Abi"
          },
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        }
      },
      "description": "Targeting based on Abi.",
      "id": "AbiTargeting",
      "type": "object"
    },
    "CancellationContext": {
      "type": "object",
      "id": "CancellationContext",
      "description": "Cancellation context of the purchases.subscriptionsv2.cancel API.",
      "properties": {
        "cancellationType": {
          "description": "Required. The type of cancellation for the purchased subscription.",
          "enum": [
            "CANCELLATION_TYPE_UNSPECIFIED",
            "USER_REQUESTED_STOP_RENEWALS",
            "DEVELOPER_REQUESTED_STOP_PAYMENTS"
          ],
          "enumDescriptions": [
            "Cancellation type unspecified.",
            "Cancellation requested by the user, and the subscription can be restored. It only stops the subscription's next renewal. For an installment subscription, users still need to finish the commitment period. For more details on renewals and payments, see https://developer.android.com/google/play/billing/subscriptions#installments",
            "Cancellation requested by the developer, and the subscription cannot be restored. It stops the subscription's next payment. For an installment subscription, users will not need to pay the next payment and finish the commitment period. For more details on renewals and payments, see https://developer.android.com/google/play/billing/subscriptions#installments"
          ],
          "type": "string"
        }
      }
    },
    "CreateDraftAppRecoveryRequest": {
      "properties": {
        "targeting": {
          "$ref": "Targeting",
          "description": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc."
        },
        "remoteInAppUpdate": {
          "$ref": "RemoteInAppUpdate",
          "description": "Action type is remote in-app update. As a consequence of this action, a downloadable recovery module is also created for testing purposes."
        }
      },
      "type": "object",
      "description": "Request message for CreateDraftAppRecovery.",
      "id": "CreateDraftAppRecoveryRequest"
    },
    "ExternalOfferDetails": {
      "id": "ExternalOfferDetails",
      "properties": {
        "linkType": {
          "enumDescriptions": [
            "Unspecified, do not use.",
            "An offer to purchase digital content.",
            "An app install."
          ],
          "type": "string",
          "description": "Optional. The type of content being reported by this transaction. Required when reporting app downloads or purchased digital content offers made in app installed through Google Play.",
          "enum": [
            "EXTERNAL_OFFER_LINK_TYPE_UNSPECIFIED",
            "LINK_TO_DIGITAL_CONTENT_OFFER",
            "LINK_TO_APP_DOWNLOAD"
          ]
        },
        "installedAppPackage": {
          "description": "Optional. The package name of the app downloaded through this transaction. Required when link_type is LINK_TO_APP_DOWNLOAD.",
          "type": "string"
        },
        "appDownloadEventExternalTransactionId": {
          "type": "string",
          "description": "Optional. The external transaction id associated with the app download event through an external link. Required when reporting transactions made in externally installed apps."
        },
        "installedAppCategory": {
          "type": "string",
          "description": "Optional. The category of the downloaded app though this transaction. This must match the category provided in Play Console during the external app verification process. Only required for app downloads.",
          "enum": [
            "EXTERNAL_OFFER_APP_CATEGORY_UNSPECIFIED",
            "APP",
            "GAME"
          ],
          "enumDescriptions": [
            "Unspecified, do not use.",
[...]
