{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playdeveloperreporting": {
          "description": "See metrics and data about the apps in your Google Play Developer account"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Google Play Developer Reporting API",
  "id": "playdeveloperreporting:v1beta1",
  "mtlsRootUrl": "https://playdeveloperreporting.mtls.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "canonicalName": "Playdeveloperreporting",
  "discoveryVersion": "v1",
  "description": "",
  "revision": "20260924",
  "version": "v1beta1",
  "resources": {
    "vitals": {
      "resources": {
        "slowstartrate": {
          "methods": {
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest"
              },
              "description": "Queries the metrics in the metric set.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet"
                }
              },
              "path": "v1beta1/{+name}:query",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.slowstartrate.query",
              "flatPath": "v1beta1/apps/{appsId}/slowStartRateMetricSet:query",
              "httpMethod": "POST"
            },
            "get": {
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "Describes the properties of the metric set.",
              "flatPath": "v1beta1/apps/{appsId}/slowStartRateMetricSet",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "id": "playdeveloperreporting.vitals.slowstartrate.get",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "location": "path",
                  "type": "string",
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "stuckbackgroundwakelockrate": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet"
                }
              },
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.get",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet",
              "description": "Describes the properties of the metric set.",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet"
              }
            },
            "query": {
              "flatPath": "v1beta1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet:query",
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.query",
              "path": "v1beta1/{+name}:query",
              "description": "Queries the metrics in the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$"
                }
              }
            }
          }
        },
        "anrrate": {
          "methods": {
            "get": {
              "path": "v1beta1/{+name}",
              "description": "Describes the properties of the metric set.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1AnrRateMetricSet"
              },
              "id": "playdeveloperreporting.vitals.anrrate.get",
              "flatPath": "v1beta1/apps/{appsId}/anrRateMetricSet",
              "httpMethod": "GET"
            },
            "query": {
              "description": "Queries the metrics in the metric set.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/apps/{appsId}/anrRateMetricSet:query",
              "path": "v1beta1/{+name}:query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.anrrate.query"
            }
          }
        },
        "anonrssandswapmemoryusage": {
          "methods": {
            "query": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/apps/{appsId}/anonRssAndSwapMemoryUsageMetricSet:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnonRssAndSwapMemoryUsageMetricSetResponse"
              },
              "path": "v1beta1/{+name}:query",
              "parameters": {
                "name": {
                  "description": "Required. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet",
                  "required": true,
                  "pattern": "^apps/[^/]+/anonRssAndSwapMemoryUsageMetricSet$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "id": "playdeveloperreporting.vitals.anonrssandswapmemoryusage.query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnonRssAndSwapMemoryUsageMetricSetRequest"
              },
              "description": "Queries the metrics in the metric set.",
              "httpMethod": "POST"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet",
                  "pattern": "^apps/[^/]+/anonRssAndSwapMemoryUsageMetricSet$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Describes the properties of the metric set.",
              "id": "playdeveloperreporting.vitals.anonrssandswapmemoryusage.get",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/apps/{appsId}/anonRssAndSwapMemoryUsageMetricSet",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1AnonRssAndSwapMemoryUsageMetricSet"
              }
            }
          }
        },
        "bitmapmemoryusage": {
          "methods": {
            "get": {
              "id": "playdeveloperreporting.vitals.bitmapmemoryusage.get",
              "httpMethod": "GET",
              "flatPath": "v1beta1/apps/{appsId}/bitmapMemoryUsageMetricSet",
              "path": "v1beta1/{+name}",
              "description": "Describes the properties of the metric set.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^apps/[^/]+/bitmapMemoryUsageMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1BitmapMemoryUsageMetricSet"
              }
            },
            "query": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/bitmapMemoryUsageMetricSet$",
                  "required": true
                }
              },
              "path": "v1beta1/{+name}:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryBitmapMemoryUsageMetricSetRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryBitmapMemoryUsageMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.bitmapmemoryusage.query",
              "description": "Queries the metrics in the metric set.",
              "flatPath": "v1beta1/apps/{appsId}/bitmapMemoryUsageMetricSet:query"
            }
          }
        },
        "slowrenderingrate": {
          "methods": {
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetRequest"
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetResponse"
              },
              "description": "Queries the metrics in the metric set.",
              "id": "playdeveloperreporting.vitals.slowrenderingrate.query",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
                  "location": "path",
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/apps/{appsId}/slowRenderingRateMetricSet:query",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:query"
            },
            "get": {
              "description": "Describes the properties of the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1SlowRenderingRateMetricSet"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
                  "required": true,
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$"
                }
              },
              "flatPath": "v1beta1/apps/{appsId}/slowRenderingRateMetricSet",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "GET",
              "id": "playdeveloperreporting.vitals.slowrenderingrate.get"
            }
          }
        },
        "excessivewakeuprate": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "path": "v1beta1/{+name}",
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.get",
              "httpMethod": "GET",
              "flatPath": "v1beta1/apps/{appsId}/excessiveWakeupRateMetricSet",
              "description": "Describes the properties of the metric set.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1ExcessiveWakeupRateMetricSet"
              }
            },
            "query": {
              "description": "Queries the metrics in the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetResponse"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$"
                }
              },
              "flatPath": "v1beta1/apps/{appsId}/excessiveWakeupRateMetricSet:query",
              "path": "v1beta1/{+name}:query",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.query"
            }
          }
        },
        "crashrate": {
          "methods": {
            "query": {
              "id": "playdeveloperreporting.vitals.crashrate.query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetRequest"
              },
              "description": "Queries the metrics in the metric set.",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta1/apps/{appsId}/crashRateMetricSet:query"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "type": "string"
                }
              },
              "id": "playdeveloperreporting.vitals.crashrate.get",
              "path": "v1beta1/{+name}",
              "description": "Describes the properties of the metric set.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/apps/{appsId}/crashRateMetricSet",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1CrashRateMetricSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ]
            }
          }
        },
        "lmkrate": {
          "methods": {
            "query": {
              "flatPath": "v1beta1/apps/{appsId}/lmkRateMetricSet:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryLmkRateMetricSetRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/lmkRateMetricSet$",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/lmkRateMetricSet",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryLmkRateMetricSetResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "path": "v1beta1/{+name}:query",
              "httpMethod": "POST",
              "id": "playdeveloperreporting.vitals.lmkrate.query",
              "parameterOrder": [
                "name"
              ],
              "description": "Queries the metrics in the metric set."
            },
            "get": {
              "id": "playdeveloperreporting.vitals.lmkrate.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1LmkRateMetricSet"
              },
              "flatPath": "v1beta1/apps/{appsId}/lmkRateMetricSet",
              "description": "Describes the properties of the metric set.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/lmkRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/lmkRateMetricSet$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "path": "v1beta1/{+name}"
            }
          }
        },
        "errors": {
          "resources": {
            "reports": {
              "methods": {
                "search": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "id": "playdeveloperreporting.vitals.errors.reports.search",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/apps/{appsId}/errorReports:search",
                  "description": "Searches all error reports received for an app.",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse"
                  },
                  "path": "v1beta1/{+parent}/errorReports:search",
                  "parameters": {
                    "interval.startTime.minutes": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "interval.startTime.month": {
                      "type": "integer",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.startTime.timeZone.id": {
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A selection predicate to retrieve only a subset of the reports. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error reports that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error reports that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error reports that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error reports of the requested types only. Valid candidates: `CRASH`, `ANR`, `NON_FATAL`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `errorIssueId`: Matches error reports belonging to the requested error issue ids only. Example: `errorIssueId = 1234 OR errorIssueId = 4567`. * `errorReportId`: Matches error reports with the requested error report id. Example: `errorReportId = 1234 OR errorReportId = 4567`. * `appProcessState`: Matches error reports on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error reports that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR versionCode = ANR`. The filter expression `versionCode = 123 OR errorIssueType = ANR` is not valid. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `SearchErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchErrorReports` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.endTime.hours": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
                    },
                    "interval.startTime.day": {
                      "location": "query",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.startTime.year": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer"
                    },
                    "interval.endTime.day": {
                      "format": "int32",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.startTime.nanos": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "type": "integer"
                    },
                    "interval.endTime.minutes": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^apps/[^/]+$",
                      "description": "Required. Parent resource of the reports, indicating the application for which they were received. Format: apps/{app}",
                      "required": true
                    },
                    "interval.endTime.month": {
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.seconds": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    },
                    "interval.endTime.utcOffset": {
                      "format": "google-duration",
                      "type": "string",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "location": "query"
                    },
                    "interval.startTime.utcOffset": {
                      "location": "query",
                      "format": "google-duration",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "type": "string"
                    },
                    "interval.endTime.timeZone.id": {
                      "type": "string",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "location": "query"
                    },
                    "interval.endTime.timeZone.version": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
                    },
                    "interval.endTime.seconds": {
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.endTime.year": {
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.endTime.nanos": {
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.startTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 50 reports will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.timeZone.version": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
                    }
                  }
                }
              }
            },
            "counts": {
              "methods": {
                "get": {
                  "flatPath": "v1beta1/apps/{appsId}/errorCountMetricSet",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1ErrorCountMetricSet"
                  },
                  "id": "playdeveloperreporting.vitals.errors.counts.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^apps/[^/]+/errorCountMetricSet$",
                      "location": "path",
                      "description": "Required. Name of the errors metric set. Format: apps/{app}/errorCountMetricSet"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "description": "Describes the properties of the metrics set."
                },
                "query": {
                  "path": "v1beta1/{+name}:query",
                  "id": "playdeveloperreporting.vitals.errors.counts.query",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name. Format: apps/{app}/errorCountMetricSet",
                      "pattern": "^apps/[^/]+/errorCountMetricSet$"
                    }
                  },
                  "request": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Queries the metrics in the metrics set.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/apps/{appsId}/errorCountMetricSet:query"
                }
              }
            },
            "issues": {
              "methods": {
                "search": {
                  "description": "Searches all error issues in which reports have been grouped.",
                  "path": "v1beta1/{+parent}/errorIssues:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1SearchErrorIssuesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "flatPath": "v1beta1/apps/{appsId}/errorIssues:search",
                  "id": "playdeveloperreporting.vitals.errors.issues.search",
                  "parameters": {
                    "interval.endTime.utcOffset": {
                      "type": "string",
                      "format": "google-duration",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^apps/[^/]+$",
                      "description": "Required. Parent resource of the error issues, indicating the application for which they were received. Format: apps/{app}"
                    },
                    "interval.endTime.month": {
                      "format": "int32",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.startTime.year": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query"
                    },
                    "interval.startTime.timeZone.version": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
                    },
                    "interval.startTime.timeZone.id": {
                      "type": "string",
                      "location": "query",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
                    },
                    "filter": {
                      "description": "Optional. A selection predicate to retrieve only a subset of the issues. Counts in the returned error issues will only reflect occurrences that matched the filter. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error issues that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error issues that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error issues that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error issues of the requested types only. Valid candidates: `CRASH`, `ANR`, `NON_FATAL`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `appProcessState`: Matches error issues on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error issues that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR errorIssueType = ANR` is not a valid filter. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.endTime.minutes": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "location": "query"
                    },
                    "interval.startTime.minutes": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "interval.startTime.hours": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
                    },
                    "interval.endTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of error issues to return. The service may return fewer than this value. If unspecified, at most 50 error issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "interval.endTime.timeZone.version": {
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.startTime.seconds": {
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.startTime.month": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.endTime.year": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
                    },
                    "interval.endTime.nanos": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Specifies a field that will be used to order the results. ** Supported dimensions:** * `errorReportCount`: Orders issues by number of error reports. * `distinctUsers`: Orders issues by number of unique affected users. ** Supported operations:** * `asc` for ascending order. * `desc` for descending order. Format: A field and an operation, e.g., `errorReportCount desc` *Note:* currently only one field is supported at a time."
                    },
                    "interval.endTime.day": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "type": "integer"
                    },
                    "interval.startTime.nanos": {
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "sampleErrorReportLimit": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Number of sample error reports to return per ErrorIssue. If unspecified, 0 will be used. *Note:* currently only 0 and 1 are supported."
                    },
                    "interval.endTime.timeZone.id": {
                      "type": "string",
                      "location": "query",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
                    },
                    "interval.startTime.day": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
                    },
                    "interval.endTime.seconds": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "apps": {
      "methods": {
        "fetchReleaseFilterOptions": {
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ReleaseFilterOptions"
          },
          "path": "v1beta1/{+name}:fetchReleaseFilterOptions",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "id": "playdeveloperreporting.apps.fetchReleaseFilterOptions",
          "flatPath": "v1beta1/apps/{appsId}:fetchReleaseFilterOptions",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Describes filtering options for releases.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^apps/[^/]+$",
              "location": "path",
              "description": "Required. Name of the resource, i.e. app the filtering options are for. Format: apps/{app}",
              "type": "string"
            }
          }
        },
        "search": {
          "parameterOrder": [],
          "path": "v1beta1/apps:search",
          "id": "playdeveloperreporting.apps.search",
          "httpMethod": "GET",
          "flatPath": "v1beta1/apps:search",
          "description": "Searches for Apps accessible by the user.",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1beta1SearchAccessibleAppsResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of apps to return. The service may return fewer than this value. If unspecified, at most 50 apps will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `SearchAccessibleApps` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchAccessibleApps` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "anomalies": {
      "methods": {
        "list": {
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ListAnomaliesResponse"
          },
          "path": "v1beta1/{+parent}/anomalies",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. Maximum size of the returned data. If unspecified, at most 10 anomalies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListErrorReports` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "location": "path",
              "description": "Required. Parent app for which anomalies were detected. Format: apps/{app}",
              "required": true,
              "type": "string",
              "pattern": "^apps/[^/]+$"
            },
            "filter": {
              "location": "query",
              "description": "Optional. Filtering criteria for anomalies. For basic filter guidance, please check: https://google.aip.dev/160. **Supported functions:** * `activeBetween(startTime, endTime)`: If specified, only list anomalies that were active in between `startTime` (inclusive) and `endTime` (exclusive). Both parameters are expected to conform to an RFC-3339 formatted string (e.g. `2012-04-21T11:30:00-04:00`). UTC offsets are supported. Both `startTime` and `endTime` accept the special value `UNBOUNDED`, to signify intervals with no lower or upper bound, respectively. Examples: * `activeBetween(\"2021-04-21T11:30:00Z\", \"2021-07-21T00:00:00Z\")` * `activeBetween(UNBOUNDED, \"2021-11-21T00:00:00-04:00\")` * `activeBetween(\"2021-07-21T00:00:00-04:00\", UNBOUNDED)`",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/apps/{appsId}/anomalies",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "description": "Lists anomalies in any of the datasets.",
          "httpMethod": "GET",
          "id": "playdeveloperreporting.anomalies.list"
        }
      }
    }
  },
  "baseUrl": "https://playdeveloperreporting.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "rootUrl": "https://playdeveloperreporting.googleapis.com/",
  "schemas": {
    "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse": {
      "description": "Response with a paginated list of error reports matching the search query.",
      "properties": {
        "nextPageToken": {
          "description": "Page token to fetch the next page of reports.",
          "type": "string"
        },
        "errorReports": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ErrorReport"
          },
          "description": "Error reports that were found.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse"
    },
    "GooglePlayDeveloperReportingV1beta1MetricValue": {
      "properties": {
        "decimalValue": {
          "description": "Actual value, represented as a decimal number.",
          "$ref": "GoogleTypeDecimal"
        },
        "decimalValueConfidenceInterval": {
          "description": "Confidence interval of a value that is of type `type.Decimal`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval"
        },
        "metric": {
          "type": "string",
          "description": "Name of the metric."
        }
      },
      "type": "object",
      "description": "Represents the value of a metric.",
      "id": "GooglePlayDeveloperReportingV1beta1MetricValue"
    },
    "GooglePlayDeveloperReportingV1beta1QueryBitmapMemoryUsageMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1beta1QueryBitmapMemoryUsageMetricSetRequest",
      "type": "object",
      "properties": {
        "userCohort": {
          "description": "Optional. User view to select. The output data will correspond to the selected view. The only supported value is `OS_PUBLIC`.",
          "type": "string",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ]
        },
        "metrics": {
          "type": "array",
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `bitmapMemoryUsageP50` (`google.type.Decimal`): 50th percentile of bitmap memory usage. * `bitmapMemoryUsageP75` (`google.type.Decimal`): 75th percentile of bitmap memory usage. * `bitmapMemoryUsageP90` (`google.type.Decimal`): 90th percentile of bitmap memory usage. * `bitmapMemoryUsageP95` (`google.type.Decimal`): 95th percentile of bitmap memory usage. * `bitmapMemoryUsageP99` (`google.type.Decimal`): 99th percentile of bitmap memory usage. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which memory metrics were reported during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "items": {
            "type": "string"
          }
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. * `processName` (string): the name of the process that was running, e.g., com.example.app. * `appState` (string): the state of the app when memory was collected, e.g., FOREGROUND.",
          "type": "array"
        },
        "filter": {
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`."
        },
        "pageSize": {
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        }
      },
      "description": "Request message for QueryBitmapMemoryUsageMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1AnrRateMetricSet": {
      "properties": {
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        },
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/anrRateMetricSet",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1AnrRateMetricSet",
      "description": "Singleton resource representing the set of ANR (Application not responding) metrics. This metric set contains ANRs data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about crashes, another stability metric."
    },
    "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet": {
      "properties": {
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        },
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Singleton resource representing the set of Stuck Background Wakelocks metrics. This metric set contains PowerManager wakelock duration data combined with process state data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `stuckBgWakelockRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a wakelock held in the background for longer than 1 hour. * `stuckBgWakelockRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `stuckBgWakelockRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `stuckBgWakelockRate` metric. A user is counted in this metric if their app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "id": "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet"
    },
    "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest",
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "type": "integer",
          "format": "int32"
        },
        "metrics": {
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userCohort": {
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "Optional. User view to select. The output data will correspond to the selected view. The only supported value is `OS_PUBLIC`.",
          "type": "string",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ]
        },
        "dimensions": {
          "description": "Optional. Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "timelineSpec": {
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        }
      },
      "description": "Request message for QuerySlowStartRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetRequest": {
      "type": "object",
      "description": "Request message for QueryAnrRateMetricSet.",
      "id": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetRequest",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
        },
        "userCohort": {
          "type": "string",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "Optional. User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\"."
        },
        "timelineSpec": {
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        },
        "dimensions": {
          "description": "Optional. Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metrics": {
          "type": "array",
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not . supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "items": {
            "type": "string"
          }
        },
        "pageSize": {
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet": {
      "id": "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet",
      "description": "Singleton resource representing the set of Slow Start metrics. This metric set contains Activity start duration data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Required dimension:** This dimension must be specified with each request for the request to be valid. * `startType` (string): the type of start that was measured. Valid types are `HOT`, `WARM` and `COLD`. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "type": "object",
      "properties": {
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        },
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/slowStartRateMetricSet",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval": {
      "properties": {
        "upperBound": {
          "$ref": "GoogleTypeDecimal",
          "description": "The confidence interval's upper bound."
        },
        "lowerBound": {
          "description": "The confidence interval's lower bound.",
          "$ref": "GoogleTypeDecimal"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval",
      "type": "object",
      "description": "Represents the confidence interval of a metric."
    },
    "GoogleTypeTimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "type": "object",
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GooglePlayDeveloperReportingV1beta1BitmapMemoryUsageMetricSet": {
      "id": "GooglePlayDeveloperReportingV1beta1BitmapMemoryUsageMetricSet",
      "properties": {
        "freshnessInfo": {
          "description": "Output only. Summary about data freshness in this resource.",
          "readOnly": true,
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        },
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Singleton resource representing the set of Bitmap Memory Usage metrics. This metric set contains bitmap memory usage data combined with usage data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `bitmapMemoryUsageP50` (`google.type.Decimal`): 50th percentile of bitmap memory usage. * `bitmapMemoryUsageP75` (`google.type.Decimal`): 75th percentile of bitmap memory usage. * `bitmapMemoryUsageP90` (`google.type.Decimal`): 90th percentile of bitmap memory usage. * `bitmapMemoryUsageP95` (`google.type.Decimal`): 95th percentile of bitmap memory usage. * `bitmapMemoryUsageP99` (`google.type.Decimal`): 99th percentile of bitmap memory usage. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which memory metrics were reported during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. * `processName` (string): the name of the process that was running, e.g., com.example.app. * `appState` (string): the state of the app when memory was collected, e.g., FOREGROUND. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
    },
    "GooglePlayDeveloperReportingV1beta1MetricsRow": {
      "description": "Represents a row of dimensions and metrics.",
      "id": "GooglePlayDeveloperReportingV1beta1MetricsRow",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "Optional. Dimension columns in the row.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1DimensionValue"
          }
        },
        "metrics": {
          "type": "array",
          "description": "Optional. Metric columns in the row.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricValue"
          }
        },
        "aggregationPeriod": {
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals.",
            "Data is aggregated over the full timeline range. Effectively this produces a single value rather than a timeline."
          ],
          "description": "Optional. Granularity of the aggregation period of the row.",
          "type": "string",
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "FULL_RANGE"
          ]
        },
        "startTime": {
          "description": "Optional. Starting date (and time for hourly aggregation) of the period covered by this row.",
          "$ref": "GoogleTypeDateTime"
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetRequest": {
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
        },
        "timelineSpec": {
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        },
        "userCohort": {
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "Optional. User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "type": "string",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ]
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "dimensions": {
[...]
